{% extends '_base.html' %}

{% block content %}
<h4 style="text-align:center">Administrator Tools<span class = "exclamation">!</span></h4>
<br>
<div class="row marketing">
<div class="col-lg-6">
<h5>Create Issue for Jury</h5>
<br>
<form action="/admin" method="post" style = "margin: auto;">
    {{ form.csrf_token }}
    <p>
        {{ form.title(placeholder="Title") }}
        {% if form.title.errors %}
        <span class="error">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </span>
        {% endif %}
    </p>
    <p>
        {{ form.prompts(placeholder="Prompts") }}
        {% if form.prompts.errors %}
        <span class="error">
            {% for error in form.prompts.errors %}
                {{ error }}
            {% endfor %}
        </span>
        {% endif %}
    </p>
    <p>
        {{ form.question(placeholder="Question") }}
        {% if form.question.errors %}
        <span class="error">
            {% for error in form.question.errors %}
                {{ error }}
            {% endfor %}
        </span>
        {% endif %}
    </p>
    <p>
        Select vote type:
        {{ form.vote }}
        {% if form.vote.errors %}
        <span class="error">
            {% for error in form.vote.errors %}
                {{ error }}
            {% endfor %}
        </span>
        {% endif %}
    </p>
<button class="btn btn-sm btn-success" type="submit" style="background-color: #8b11c6;">Create Issue</button>
</form>
</div>
<br>
<br>
<div class="col-lg-6">
<h5>All Jury Issues</h5>
    {% for issue in issues %}
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">{{issue.id}} {{ issue.title }}</h4>
            Question: {{issue.question}} 
            <br>
            Result: {{issue.result}} {% if issue.result == "In Progress" %}<a href="{{ url_for('users.close_jury', issue_id=issue.id )}}">Close Issue</a> {% endif %}
            <br>
            <a href="{{ url_for('users.view_discussion', issue_id=issue.id )}}">View Discussion</a>
            <br>
            <br>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<br>
{% endblock %}