{% extends '_base.html' %}

{% block signin_form %}
<form class="form-inline" role="form" action="/" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
            {{ form.name(placeholder="Name") }}
            {% if form.name.errors %}
            <span class="error">
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
            </span>
            {% endif %}

            {{ form.password(placeholder="Password") }}
            {% if form.password.errors %}
            <span class="error">
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            </span>
            {% endif %}
    <button class="btn btn-sm btn-primary" type="submit" style="background-color: #8b11c6;" onclick="showChangeLogModal()">Sign in</button>
    </div>
    </form>
{% endblock signin_form %}


{% block content %}
    {% if session.logged_in %}
    <a href="{{url_for('tweets.modal')}}" class="btn btn-outline-success">View new changes</a>
    {% endif %}
    <div class="jumbotron">
    <img src="static/img/Beep_Logo.png" alt="Beep Logo"><h1 style="font-family: 'Courier New', Courier, monospace;">BEEP<span class = "exclamation">!</span></h1>
    <p class="lead">the world's first democratic platform</p>
    {% if not session.logged_in %}
    <p><a class="btn btn-lg btn-success" href="/register/" role="button" style="color:white;">Sign up today</a></p>
    {% endif %}
    </div>
    {% block modal %}{% endblock %}

    {% block script %}{% endblock %}
{% endblock content %}


